body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e9eef5;
}

.header {
    background: #219a02;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.foto-profil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 15px;
}

.container {
    width: 80%;
    max-width: 900px;
    background: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    background: #00cf5a;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 180px auto;
    row-gap: 6px;
    margin-top: 15px;
}

ul {
    margin-left: 20px;
}

.foto-full {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
